SUBSYSTEM=="power_supply", ACTION=="change", ATTR{online}=="1", RUN+="/etc/performance/performance_cpu"
SUBSYSTEM=="power_supply", ACTION=="change", ATTR{online}=="1", RUN+="/etc/performance/performance_hda"
SUBSYSTEM=="power_supply", ACTION=="change", ATTR{online}=="1", RUN+="/etc/performance/performance_i2c"
SUBSYSTEM=="power_supply", ACTION=="change", ATTR{online}=="1", RUN+="/etc/performance/performance_watchdog"
SUBSYSTEM=="power_supply", ACTION=="change", ATTR{online}=="1", RUN+="/etc/performance/performance_writeback"
SUBSYSTEM=="power_supply", ACTION=="change", ATTR{online}=="1", RUN+="/etc/performance/performance_laptop"
SUBSYSTEM=="power_supply", ACTION=="change", ATTR{online}=="1", RUN+="/etc/performance/performance_pci"
SUBSYSTEM=="power_supply", ACTION=="change", ATTR{online}=="1", RUN+="/etc/performance/performance_sata"
SUBSYSTEM=="power_supply", ACTION=="change", ATTR{online}=="1", RUN+="/etc/performance/performance_usb"

SUBSYSTEM=="power_supply", ACTION=="change", ATTR{online}=="0", RUN+="/etc/performance/powersave_cpu"
SUBSYSTEM=="power_supply", ACTION=="change", ATTR{online}=="0", RUN+="/etc/performance/powersave_hda"
SUBSYSTEM=="power_supply", ACTION=="change", ATTR{online}=="0", RUN+="/etc/performance/powersave_i2c"
SUBSYSTEM=="power_supply", ACTION=="change", ATTR{online}=="0", RUN+="/etc/performance/powersave_laptop"
SUBSYSTEM=="power_supply", ACTION=="change", ATTR{online}=="0", RUN+="/etc/performance/powersave_watchdog"
SUBSYSTEM=="power_supply", ACTION=="change", ATTR{online}=="1", RUN+="/etc/performance/powersave_writeback"
SUBSYSTEM=="power_supply", ACTION=="change", ATTR{online}=="0", RUN+="/etc/performance/powersave_pci"
SUBSYSTEM=="power_supply", ACTION=="change", ATTR{online}=="0", RUN+="/etc/performance/powersave_sata"
SUBSYSTEM=="power_supply", ACTION=="change", ATTR{online}=="0", RUN+="/etc/performance/powersave_usb"
